[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
faker = "*"
ipython = "*"
django-extensions = "*"
webargs = "*"
flake8 = "*"
flake8-builtins = "*"
flake8-import-order = "*"
pep8-naming = "*"
django-debug-toolbar = "*"

[dev-packages]

[requires]
python_version = "3.9"
